body {
	text-align: center; 
	overflow: hidden; 
	background: black; 
	color: white; 
	font-family: monospace; 
}
.star { 
	position: absolute; 
	background: white; 
	border-radius: 50%; 
	opacity: 0.8; 
}
h1 {	
	margin-top: 5%;
}
a { 
	font-size: 100px; 
	color: white; 
	text-decoration: none; 
	border: 25px solid; 
	border-radius: 25px; 
	opacity: 0.5; 
}
a:hover { 
	opacity: 1; 
}
.divider {
	width: 90%;
	border-top: 3px solid white;
	margin-bottom: 20%;
}
