body {
	text-align: center; 
	overflow: hidden; 
	background: black; 
	color: white; 
	font-family: monospace; 
}
.star { 
	position: absolute; 
	background: white; 
	border-radius: 50%; 
	opacity: 0.8; 
}
h1 {	
	margin-top: 5%;
}
a,button { 
	font-size: 25px; 
	background: none;
	font-family: monospace;
	color: white; 
	text-decoration: none; 
	border: 10px solid; 
	border-radius: 10px; 
	opacity: 1;
    	margin-top: 5%;
    	padding: 4px;
    
}
a:hover,button:hover { 
	opacity: 0.5; 
}
.divider {
	width: 90%;
	border-top: 3px solid white;
	margin-bottom: 20%;
}
img {
    	width: 100px;
    	image-rendering: pixelated;
}
p {
    	margin-bottom: 20px
}
