body {
	text-align: center; 
	overflow: hidden; 
	background: black; 
	color: white; 
	font-family: monospace; 
}
.star { 
	position: absolute; 
	background: white; 
	border-radius: 50%; 
	opacity: 0.8; 
}
h1 {	
	margin-top: 5%;
}
a,button { 
    display: flex;
	font-size: 25px; 
	background: none;
	font-family: monospace;
	color: white; 
	text-decoration: none; 
	border: 10px solid; 
	border-radius: 10px; 
	opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 4px;
    width: 8%;
}
a:hover,button:hover { 
	opacity: 0.5; 
}
.divider {
	width: 90%;
	border-top: 3px solid white;
	margin-bottom: 20%;
}
img {
    	width: 100px;
    	image-rendering: pixelated;
}
p {
        display: flex;
        width: 80%;
        margin: auto;
}
.earth, .asteroid, .laser {
	position: absolute;
	width: 250px;
}
.earth {
	bottom: 0;
	left: 0;
}
.asteroid {
	bottom: 50%;
	left: 40%;
}
.laser {
	bottom: 30%;
	left: 30%;
}
.stats {
    display: revert 
}
